.App {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.officeSpaces{
  display: flex;
}

.officeCard {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 25%;
  flex:1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}
